<!DOCTYPE html>
<html lang="en">

{{> header}}

<body>

  {{> navbar}}

  <!-- Page Content -->
  <div class="container">
    <p class="flow-text">
      <b>Why do we need to visualise vehicular accidents' data?</b>
    </p>
    <ul class="flow-text">
      <li style="list-style: circle;">Approximately 1.35 million people die each year as a result of road traffic crashes.</li>
      <li style="list-style: circle;">The 2030 Agenda for Sustainable Development has set an ambitious target of halving the global number of deaths and injuries from road traffic crashes by 2020.</li>
      <li style="list-style: circle;">Road traffic crashes cost most countries 3% of their gross domestic product.</li>
      <li style="list-style: circle;">More than half of all road traffic deaths are among vulnerable road users: pedestrians, cyclists, and motorcyclists.</li>
      <li style="list-style: circle;">93% of the world's fatalities on the roads occur in low- and middle-income countries, even though these countries have approximately 60% of the world's vehicles.</li>
      <li style="list-style: circle;">Road traffic injuries are the leading cause of death for children and young adults aged 5-29 years.</li>
    </ul>
    <br>
    <br>
    <hr>
    <p class="flow-text">
      The only way we're going to understand why accidents happen, and how to prevent them from happenining and save human life,
      is to visualise the data, understand and analyse it to reduce this huge number. We've built this data-driven project in order
      to prevent cause of human life, and to play our little part in serving the community.
    </p>
  </div>
  <!-- /.container -->

</body>

</html>