<!DOCTYPE html>
<html lang="en">
{{> header}}
<body>
  {{> navbar}}
    <div class="container row">
        <div class="col s4">
           
        </div>
        <div class="col s4 z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 40px 48px; border: 1px solid #EEE;">
        <div class="row">
             <p>
                Login - pick up where you left off.
            </p>
          <form class="col s12" action="/users/login" method="post" style="padding-top: 40px;">
            <div class='row'>
              <div class='col s12'>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <input class='validate' type='email' name='email' id='email' />
                <label for='email'>Enter your email</label>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <label for='password'>Password</label>
                <input class='validate' type='password' name='password' id='password' />
              </div>
            </div>

            <br />
            <center>
              <div class='row'>
                <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Login</button>
              </div>
            </center>
          </form>
        </div>
        <div class="col s4"></div>

        </div>
        
    
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>
</html>