<!DOCTYPE html>
<html lang="en">
{{> header}}
<body>
{{> navbar}}
    <div class="container row">
        <div class="col s4">
           
        </div>
        <div class="col s4 z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 40px 48px; border: 1px solid #EEE;">
        <div class="row">
             <p>
                 Register - join us in changing our understanding of the world.
            </p>
          <form class="col s12" action="/submitregister" method="post" style="padding-top: 40px;" name="f1" id="f1">
            <div class='row'>
              <div class='col s12'>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <input class='validate' type='email' name='email' id='email' />
                <label for='email'>Enter your email</label>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <label for='password'>Password</label>
                <input class='validate' type='password' name='password1' id='password1' />
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <label for='password'>Re-enter Password</label>
                <input class = 'validate' type='password' name='password2' id='password2' onchange="pass_validation()"/>
              </div>
            </div>

            <br />
            <center>
              <div class='row'>
                <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>REGISTER</button>
              </div>
            </center>
          </form>
        </div>
        <div class="col s4"></div>

        </div>
      <script>
      if('{{{error}}}' != null)
      alert('{{{error}}}');
      </script>
    <script>
      function pass_validation()
      {
          var firstpassword=document.f1.password1.value;  
          var secondpassword=document.f1.password2.value;  

          if(firstpassword==secondpassword){  
					  document.getElementById('password2').style.border = "1px solid green";
            document.getElementById('password1').style.border = "1px solid green";
          }  
        else{  
				  	document.getElementById('password2').style.border = "1px solid red";
            document.getElementById('password1').style.border = "1px solid red";
          }  
      } 
</script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>
</html>