<!DOCTYPE html>
<html lang="en">

{{> header}}

<body>

  {{> logged_in_navbar email = email}}

  <!-- Page Content -->
  <div class="container">
      {{email}}
    <button id="visbutton" class="btn btn-primary">Create a Visualisation</button>

    <script type="text/javascript">
        document.getElementById("visbutton").onclick = function () {
            location.href = "/visselection";
        };
    </script>
  </div>
  <!-- /.container -->

</body>

</html>
